<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li{% if active == 'list' %} class="active"{% endif %}>
            <a href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
